body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
}

.clock-container {
  background-color: #222;
  padding: 40px 60px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 255, 255, 0.4);
}

#clock {
  font-size: 60px;
  color: #00fff7;
  letter-spacing: 2px;
}
